.footer {
    width: 100vw;
    height: 4rem;
    background: yellow;
    color: rgb(74, 89, 96);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: small;
}